@import url();

body{
    background-color: #fffbf7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
    font-size: 60px;
}

p{
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

input{
    padding: 5px;
}

button{
    background-color: #025157;
    border-style: none;
    border-radius: 5%;
    padding: 5px;
    color: #fff;
}

.img-capterra{
    height: 60px;
    display: block;
    margin: auto;
}

.img-matcha{
    height: 400px;
    max-width: 1000px;
}

.header{
    margin: 40px 20px 0; /* top left/rigth down */
    font-size: 0;
    font-family: sans-serif;
    height: 45px;
}

li{
    display: inline;
    margin: 0 25px;
}

.header > * {
    display: inline-block;
    font-size: 16px; /*Solo el texto tenga tamaño*/
    line-height: 45px; /*Tenga un largo de 45 pixeles entre bloque*/
    height: 100%;
    vertical-align: middle; /**/
}

.main{
    margin-top: 100px;
    text-align: center;
}

/* se proporciona el tamaño de los contenedores
entre cada parte que contenga el header */

.logo{
    width: 15%;
}

.logo > img{
    width: 15%;
}

.navbar{
    width: 65%;
    text-align: left; /*texto centrado*/
    color: #025157;
    font-weight: 500;
    line-height: 15px;
    font-weight: 50;
    font-weight: bold;
}

.actions {
    width: 20%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions > * {
    margin: 0 10px;
}

.actions > a {
    color: #67b54b;
}

.actions > button{
    color: white;
    background-color: #67b54b;
    padding: 14px 12px;
    border: none;
    border-radius: 5px;
}