body{
    background-color: #fffbf7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #46484c;
    text-align: center;
}

p{
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

input{
    padding: 5px;
}

button{
    background-color: #025157;
    border-style: none;
    border-radius: 5%;
    padding: 5px;
    color: #fff;
}

.img-capterra{
    height: 60px;
    display: block;
    margin: auto;
}

.img-matcha{
    height: 400px;
    max-width: 1000px;
}

.header{
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; */
    margin: 40px 20px 0;
    font-size: 0;
}

li{
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 16px; /*Solo el texto tenga tamaño*/
    line-height: 45px; /*Tenga un largo de 45 pixeles entre bloque*/
    height: 100%;
    vertical-align: middle; /**/
}

.main{
    margin-top: 140px;
    text-align: center;
}

/* se proporciona el tamaño de los contenedores
entre cada parte que contenga el header */

.logo{
    width: 15%;
}

.logo > img{
    width: 15%;
}

.navbar{
    width: 70%;
    text-align: center; /*texto centrado*/
    color: #025157;
    font-weight: 500;
}

.navbar > ul > li {
    margin: 0 20px 0; /* top left rigth down */
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}